<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!-- (@"data source =SVRLOGAM2008 RCORREA; initial catalog = BD_STANDAR_LOGAM; user id = LOGAM; password = LOGAMM"); CASA-37895BB1B4\SERVERSQL -->
		<add name="ConexionBaseDatos" connectionString="data source = SVRLOGAM2008; initial catalog = BD_ZARA;user id = LOGAM; password = LOGAMM" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<!-- SE CREA LA AUTENTIFICACION VIA FORMULARIO -->
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" protection="All" timeout="30" defaultUrl="Inicio.aspx"/>
		</authentication>
		<!-- SE DENIEGA EL ACCESO A LOS USUARIOS ANONIMOS, PERMITIENDO SOLO USUARIOS REGISTRADOS -->
	</system.web>
</configuration>
